
.outerbox{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 2cm;
    width: 25cm;
    height: 15cm;
    border-radius: 10px;
}

.innerbox{
    margin: 0 auto;
    margin-top: 0.5cm;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    width: 24cm;
    height: 14cm;
    border-radius: 10px;
}


.loginbox{
    background-color: white;
    margin: auto;
    width: 18cm;
    height: 12cm;
    box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1{
    text-align: left;
    text-transform: uppercase;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}

.image{
    float: right;
    margin-right: 10px;
}

.form-field{
    margin-bottom: 10px;
}

.p-float-label input, .p-float-label p-password{
    width: 40%;
}

.form-container{
    text-align: center;
}
